<div class="hero-video">
    <div class="video-inner">
        <div class="visible-xs xs-bg-blur" style="background-image:url('./images/Surfers-Paradise.jpg');"></div>
        <video autoplay loop poster="./images/Surfers-Paradise.jpg" class="hidden-xs">
            <source src="./videos/Surfers-Paradise.mp4" type="video/mp4" />Your browser does not support the video tag.
        </video>
        <div class="color-overlay"></div>
        <div class="hero-video-boilerplate text-center">
            <div class="img-circle birdhouse-logo">
                <img class="img-responsive" src="./images/birdhouse-white.svg" />
            </div>
            <h1>{{[lp.title]}}</h1>
        </div>
        <div class="scroll-prompt bounce hidden-xs affix-top">
            <i class="icon-chevron-down icon-lg" aria-hidden="true"></i>
        </div>
    </div>
</div>
